@charset "UTF-8";
/* Variables */
/* 0 --- RESETEO DE CSS */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

body {
  font-size: 100%;
  list-style-type: none;
  font-family: poppins;
  font-size: 18px;
  color: black; }

/* --- corrección de scroll horizontal heredado de Bootstrap */
.col-sm {
  margin-right: 0;
  margin-left: 0; }

.row {
  margin-right: 0;
  margin-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.container {
  margin-right: 0;
  margin-left: 0; }

/* ----- >>> efecto subrayado para todos loslinks < */
a {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s; }

a:hover, a:focus {
  background-size: 100% 2px; }

/* Tipografías e íconos */
h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 2rem;
  color: #2c02e5; }

h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
  color: white; }

h3 {
  font-family: 'Permanent Marker', cursive;
  font-size: 3rem;
  color: #ce0707; }

h4 {
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem; }

h5 {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5rem;
  color: black; }

.marca {
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
  color: #2c02e5; }

/* Tablet */
@media (min-width: 768px) {
  .col-md:hover {
    transform: skew(3deg); } }

/* Desktop */
@media (min-width: 1200px) {
  .col-lg:hover {
    transform: skew(3deg); }
  .nosale {
    display: contents; } }

/* 1 --- HOME PAGE */
.navbar {
  background-color: rgba(181, 181, 181, 0.632);
  position: fixed;
  width: 100vw;
  z-index: 99999;
  color: white; }

.nav-link {
  color: #2c02e5; }

/* AVENTURAS: Qué te ofrecemos */
.aventuras {
  width: 100%; }
  .aventuras h2 {
    background-color: #2c02e5;
    text-align: center;
    padding: 8px; }

.card {
  width: 18rem;
  background-color: white;
  margin: 15px; }

.aventuras--BotonVerMas {
  margin: 10rem 3rem;
  width: 30%;
  border: 2px solid white;
  border-radius: 1rem;
  color: white;
  background-color: #56d5fc;
  text-align: center;
  margin: 1rem;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 7px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 10px 13px -7px #000000, 0px 0px 7px 0px rgba(0, 0, 0, 0.36); }
  .aventuras--BotonVerMas a {
    text-decoration: none;
    text-align: center;
    color: white; }

.galeria {
  padding: 30px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .galeria h2 {
    background-color: black;
    width: 100vw;
    color: white;
    text-align: center;
    padding: 15px; }

.galeria-fotos {
  padding: 2vw;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 150px;
  row-gap: 10px;
  column-gap: 10px; }
  .galeria-fotos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 7px 0px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 7px 0px rgba(0, 0, 0, 0.36); }

.imagen-1 {
  object-fit: cover;
  grid-row-end: span 2;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 7px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 10px 13px -7px #000000, 0px 0px 7px 0px rgba(0, 0, 0, 0.36); }

footer p {
  text-align: center;
  color: white;
  background-color: #2c02e5;
  line-height: 2rems;
  width: 100%; }

/* Botón de Whatsapp */
.whatsapp {
  z-index: 999;
  width: 100%; }
  .whatsapp div a {
    position: fixed;
    height: 4rem;
    width: 4rem;
    right: 1rem;
    bottom: 1.8rem; }
    .whatsapp div a img {
      height: 100%;
      width: 100%;
      -webkit-box-shadow: 14px 12px 16px 2px #000000;
      box-shadow: 14px 12px 16px 2px #000000; }
  .whatsapp p {
    object-fit: contain;
    color: chartreuse; }

/* 2 --- AVENTURAS */
.pagina-Aventuras {
  width: 100%;
  min-height: 450px;
  background: url(../media/surfing-friends.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 0px;
  background-attachment: sticky;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; }
  .pagina-Aventuras h2 {
    background-color: #2c02e5;
    text-align: center;
    padding: 8px; }
  .pagina-Aventuras p {
    color: white;
    align-self: center;
    text-align: center; }

.card-title {
  font-family: 'Permanent Marker', cursive;
  font-size: 22px;
  color: black; }

.card-link {
  text-decoration: none;
  font-family: 'Permanent Marker', cursive;
  font-size: 22px; }
  .card-link a {
    color: #ce0707; }

.card-body {
  margin: 10px;
  background-color: white; }

.card-link {
  text-decoration: none;
  font-family: 'Permanent Marker', cursive;
  font-size: 28px; }

/*EXTEND*/
.tiempo, .tiempo-mucho, .tiempo-algo, .tiempo-poco, .costo-mucho, .costo-algo, .costo-poco {
  background-color: #058a00; }

.tiempo-mucho {
  opacity: 1;
  color: white; }

.tiempo-algo {
  opacity: 0.7;
  color: white; }

.tiempo-poco {
  opacity: 0.5;
  color: white; }

.color-costo {
  background-color: #2c02e5; }

.costo-mucho {
  opacity: 1;
  color: white; }

.costo-algo {
  opacity: 0.7;
  color: white; }

.costo-poco {
  opacity: 0.5;
  color: white; }

.compania, .compania-mucho, .compania-algo, .compania-poco {
  background-color: #ce0707; }

.compania-mucho {
  opacity: 1;
  color: white; }

.compania-algo {
  opacity: 0.7;
  color: white; }

.compania-poco {
  opacity: 0.5;
  color: white; }

/* 3 --- NOSOTROS */
.pagina-Nosotros {
  width: 100%;
  min-height: 450px;
  background: url(../media/nosotros.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 0px;
  background-attachment: sticky;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; }
  .pagina-Nosotros h2 {
    background-color: #2c02e5;
    text-align: center;
    padding: 8px; }
  .pagina-Nosotros p {
    color: #2c02e5;
    text-align: center; }

.nosotrosTexto {
  padding: 15px;
  margin: 15px; }

.nosotros__argumentos--item p {
  font-weight: 700; }

.epigrafe {
  font-weight: 300;
  font-size: 1rem; }

/* mapas */
.icono-puntual {
  font-size: 5rem;
  padding: 0rem 3rem;
  color: #ce0707; }

.icono-lider {
  font-size: 5rem;
  padding: 0rem 3rem;
  color: #058a00; }

.icono-experto {
  font-size: 5rem;
  padding: 0rem 3rem;
  color: #2c02e5; }

.titulo-puntual {
  color: #ce0707;
  font-family: "Permanent Marker", cursive;
  font-size: 2rem; }

.titulo-lider {
  color: #058a00;
  font-family: "Permanent Marker", cursive;
  font-size: 2rem; }

.titulo-experto {
  color: #2c02e5;
  font-family: "Permanent Marker", cursive;
  font-size: 2rem; }

/* 4 --- COMUNIDAD */
.pagina-Comunidad {
  width: 100%;
  min-height: 450px;
  background: url(../media/Carousel_desktop/carrousel-desktop-familia.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 0px;
  background-attachment: sticky;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; }
  .pagina-Comunidad h2 {
    background-color: #2c02e5;
    text-align: center;
    padding: 8px; }
  .pagina-Comunidad p {
    color: white;
    text-align: center; }

/* 5 --- CONTACTO */
.pagina-Contacto {
  width: 100%;
  min-height: 450px;
  background: url(../media/guy-is-resting-sandy-tropical-beach-after-riding-surf_105751-8821.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 0px;
  background-attachment: sticky;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; }
  .pagina-Contacto h2 {
    background-color: #2c02e5;
    text-align: center;
    padding: 8px; }
  .pagina-Contacto p {
    color: #2c02e5;
    text-align: center; }

.mb-3 {
  padding: 10px 15px;
  margin-top: 15px; }

.boton-Contacto {
  margin-bottom: 3rem;
  padding: 0.7rem;
  border: 2px solid black;
  border-radius: 1rem;
  color: black;
  background-color: #f5ee26;
  width: 100%;
  text-align: center;
  height: 3.5rem; }
  .boton-Contacto a {
    margin-bottom: 3rem;
    padding: 0.7rem;
    border-radius: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    width: 15rem;
    text-align: center;
    height: 3.5rem;
    position: relative; }
