

/* 1 --- HOME PAGE */

.navbar {
    background-color: rgba(181, 181, 181, 0.632);
    position: fixed;
    width: 100vw;
    z-index: 99999;
    color: white;
}

.nav-link {
    color: $color-azul-aventura;
}

.button {
    margin-bottom: 5rem
}

.carousel-caption {
    margin-bottom: 5rem;
}

.carousel-indicators {
    bottom:5rem;
}


/* REDES SOCIALES */

.social {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: $color-verde-aventura-hover;
    height: 3rem;
    transition: 5s ease;

    div {


    a {
        text-decoration: none;
        color:white;
       }
    }
}

.social div a:hover {
    color: $color-azul-aventura
}

/* AVENTURAS: Qué te ofrecemos */

.aventuras {
    width: 100%;

    h2 {
        background-color: $color-azul-aventura;
        text-align: center;
        padding: 8px;
    }
}

.card {
    width: 18rem;
    background-color: white;
    margin: 15px;
}

// Botón de Bootstrap modificado que irá a desafíos particulares cuando sean muchos//
.btn {
    --bs-btn-bg: rgb(5, 138, 0);
    --bs-btn-border-radius: 3rem;
    color: $color-verde-aventura-hover;
}

.btn-primary {
    --bs-btn-hover-bg: $color-verde-aventura-hover;
    --bs-btn-hover-color: $color-azul-aventura;
}

// Botón para ir a la página de Aventuras
.aventuras--BotonVerMas {
    margin: 10rem 3rem;
    width: 30%;
    border: 2px solid white;
    border-radius: 1rem;
    color: white;
    background-color: rgb(86, 213, 252);
    text-align: center;
    margin: 1rem;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 7px 0px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 7px 0px rgba(0, 0, 0, 0.36);

    a {
        text-decoration: none;
        text-align: center;
        color: white;
    }
}

// Sección de Comunidad Aventurera (Galería)
.galeria {
    padding: 30px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h2 {
        background-color: black;
        width: 100vw;
        color: white;
        text-align: center;
        padding: 15px;
    }
}

.galeria-fotos {
    padding: 2vw;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 150px;
    row-gap: 10px;
    column-gap: 10px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 7px 0px rgba(0, 0, 0, 0.36);
        box-shadow: 0px 10px 13px -7px #000000, 0px 0px 7px 0px rgba(0, 0, 0, 0.36);
    }
}

.imagen-1 {
    object-fit: cover;
    grid-row-end: span 2;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 7px 0px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 7px 0px rgba(0, 0, 0, 0.36);
}

// Pie de página
footer {
    p {
        text-align: center;
        color: white;
        background-color: $color-azul-aventura;
        line-height: 2rems;
        width: 100%;
    }
}

/* Botón de Whatsapp */

.whatsapp {
    z-index: 999;
    width: 100%;

    div {

        a {
            position: fixed;
            height: 5rem;
            width: 5rem;
            right: 1.8rem;
            bottom: 1.8rem;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }
    
    p {
    object-fit: contain;
    color: chartreuse;
    }
}