// MEDIA QUERIES

/* Galaxy Fold */
@media (max-width: 319px) {
    .h3 {
    font-size: 1rem;
    }

    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .card {
        width: 18rem;
    }

    .carousel-caption {
        display: none;
    }
    
    .carousel-indicators {
        display: none;
    }

    .carousel-control-prev {
        display: none;
    }

    .galeria-fotos-comunidad {
        grid-template-columns: 1fr;
    }

}

/* Galaxy S8+ */
@media (min-width: 320px) and (max-width: 767px) {
    .h3 {
    font-size: 1rem;
    }
    .carousel-caption {
        bottom: 0px;
    }
    
    .carousel-indicators {
        bottom:0px;
    }

    .galeria-fotos-comunidad {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 50vw;
    }

}


/* Tablet */
@media (min-width: 768px) {  
    .col-md:hover {
        transform: skew(3deg);
    }
      .card {
        width: 18rem; }

      .carousel-indicators {
        bottom: 0rem; } 

      .galeria-fotos-comunidad {
            grid-template-columns: repeat(3*1fr);
            grid-auto-rows: 33vw;
        }
      
}
    
    
/* Desktop */
    @media (min-width: 1200px) {
        .col-lg:hover {
            transform: skew(3deg);
    }
    
        .nosale {
            display: contents;
        }

        .carousel-caption {
            bottom: 5rem;
            left: 15%;
            padding-bottom: 2rem;
        }

        .galeria-fotos-comunidad {
            grid-template-columns: repeat(5*1fr);
        }
    
    }
