/* 3 --- NOSOTROS */

.pagina-Nosotros {
    width: 100%;
    min-height: 450px;
    background: url(../media/nosotros.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 0px;
    background-attachment: sticky;
    @include flex-column-end-center;

    h2 {
        background-color: $color-azul-aventura;
        text-align: center;
        padding: 8px;
    }

    p {
        color: $color-azul-aventura;
        text-align: center;
    }
  }


.nosotrosTexto {
    padding: 15px;
    margin: 15px;
}

.nosotros__argumentos--item {
    
    p {
    font-weight: 700;
    }
}


.epigrafe {
    font-weight: 300;
    font-size: 1rem;
}


/* mapas */

$iconos: (
    puntual: $color-rojo-aventura,
    lider: $color-verde-aventura,
    experto: $color-azul-aventura
);

@each $cualidad, $valoracion in $iconos {
    .icono-#{$cualidad} {
        font-size: 5rem;
        padding: 0rem 3rem;
        color:$valoracion; 
}
}


$titulos: (
    puntual: $color-rojo-aventura,
    lider: $color-verde-aventura,
    experto: $color-azul-aventura
);

@each $cualidad, $valoracion in $iconos {
    .titulo-#{$cualidad} {
        color:$valoracion;
        font-family: $tipografia-ppal;
        font-size: 2rem;
}
}

