/* 0 --- RESETEO DE CSS */

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    list-style-type: none;
    font-family: poppins;
    font-size: 18px;
    color:black;
}

/* --- corrección de scroll horizontal heredado de Bootstrap */

@mixin sinscrollx ($x-derecho, $x-izquierdo) {
    margin-right: $x-derecho;
    margin-left: $x-izquierdo
}

.col-sm {
    @include sinscrollx(0,0)
    
}

.row {
    @include sinscrollx(0,0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    @include sinscrollx(0,0);
}


/* ----- >>> efecto subrayado para todos loslinks < */
a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
a:hover, a:focus {
    background-size: 100% 2px;
}



/* Tipografías e íconos */

@mixin tipografia($familia, $tamano) {
    font-family: $familia;
    font-size: $tamano;
}


h1 {
    @include tipografia($tipografia-ppal,2rem);

    color: $color-azul-aventura;
}

h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
    color: white;
}

h3 {
    font-family: 'Permanent Marker', cursive;
    font-size: 3rem;
    color: $color-rojo-aventura;
}

h4 {
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
}

h5 {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5rem;
    color: black;
}


.marca {
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    color: $color-azul-aventura;
}


/* mixins */

@mixin flex-row-center-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

@mixin flex-column-end-center {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}