/* Variables */

$blanco: rgb(255, 255, 255);
$negro: rgb(0, 0, 0);
$tipografia-ppal: 'Permanent Marker', cursive;
$color-azul-aventura: rgba(44, 2, 229,1);
$color-fondo-boton: rgb(86, 213, 252);
$color-rojo-aventura: rgb(206, 7, 7);
$color-verde-aventura: rgb(5, 138, 0);
$sombreado-de-fotos: 14px 12px 16px 2px #000000;
$sombreado-de-caja: 14px 12px 16px 2px #000000;
$uno: (1);
$dos: (0.5);
$tres:(0.1);

